<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Aryndlands</title>
  <script src="static/src/phaser.min.js"></script>
  <script src="static/src/scenePreload.js"></script>
  <script src="static/src/sceneMain.js"></script>
  <script src="static/src/beam.js"></script>
  <script src="static/src/explosion.js"></script>
  <script src="static/src/skeleton.js"></script>
</head>
  <h1>Tales of Aryndlands</h1>
  <script src="static/src/main.js"></script>
  <h5>Controls: Arrow Keys and Spacebar, Zoom to 200%</h5>
</body>
</html>
