<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Aryndlands</title>
  <script src="static/src/phaser.min.js"></script>
  <script src="static/src/scenePreload.js"></script>
  <script src="static/src/sceneMain.js"></script>
  <script src="static/src/beam.js"></script>
  <script src="static/src/explosion.js"></script>
  <script src="static/src/skeleton.js"></script>
  <style>
    body { 
      margin: 20px; 
      padding: 0px; 
      overflow: hidden; 
      height: 120%;
      background-color: black; 
      color: white;
      text-align: center;
   
    }
   
  </style>
</head>
  <script src="static/src/main.js"></script>
  <div id="parentMain"></div>
  <h2>Tales of Aryndlands</h2>
  <p>Controls: Arrow Keys and Spacebar</p>
  
</body>
</html>
